.task {
  margin-bottom: 10px;
  border-radius: 5px;
}
body {
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
    );
  justify-content: center;
}
#taskInput {
    border-radius: 5px;
}
