


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
      90deg,
      #ffffff 0%,
      rgb(255, 255, 255) 35%,
      #bffffd 100%
  );
  overflow: hidden; /* Hide overflow for a clean look */
}




.profile input[type="file"],
.profile input[type="text"],
.profile input[type="tel"] {
  width: 80%;
  margin: 10px auto;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  box-sizing: border-box;
}



.profile button {
  width: 80%;
  margin: 20px auto;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
}



#miinha_imagem{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid#03038eaf;
  box-sizing: border-box;
  background-size: cover;
}
.profile{
  background: #7302eb;
  border-radius: 10%;
  align-items: center;
  text-align: center;
  box-sizing:content-box ;
  padding: 20px;
 
 

}