* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: hsl(268, 49%, 7%);
    justify-content: center !important;
}

nav.menu-lateral{
    margin: 0;
    /* margin-top: 60px; */
    width: 75px;
    height: 100%;
    background-color: hsl(264, 16%, 96%);
    /* padding: 40px 0 40px 1%; */
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    padding-top: 90px;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: hsl(268, 49%, 7%);
    font-size: 30px;
    cursor: pointer;
}

ul{
   height: 100%;
   list-style-type: none; 
}

ul li.item-menu{
    transition: .2s;
}

ul .item-menu.ativo{
    margin: 0;
    background-color: #7302eb;
    a {
        color: white;
    }
}

ul li.item-menu:hover{
    background-color: #7302eb;
    a {
        color: white;
    }

}

ul li.item-menu a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    color: hsl(0, 0%, 24%);
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}