* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.background
{
    width: 100%;
    height: 100vh;
    background-image: url(fundohome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}