*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 900vh;
    /*background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
      );*/
      background: linear-gradient(to bottom, #7302eb 30%, #7302eb 60%, #eb02dc 100%);
        
}

nav.menu-lateral{
    margin: 0;
    margin-top: 60px;
    width: 75px;
    height: 100%;
    background-color:linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
      );
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #d937f8 /*(#c90099, #22016d)*/;
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

ul{
   height: 100%;
   list-style-type: none; 
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    margin: 0;
    background-image: linear-gradient(#d937f8, #7302eb) ;
}

ul li.item-menu:hover{
    background-image: linear-gradient(#d937f8, #7302eb);

}
/* rgb(34,1,109) rgb(201,0,153) */
ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: 1.2s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}