<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylescalendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dycalendar.css') }}">
</head>
<body>
    <section>
        <div class="box">
            <div class="container">
                <div id="dycalendar"></div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='main/dycalendar.js') }}"></script>
    <script>
        dycalendar.draw({
            target: '#dycalendar',
            type: 'month', 
            dayformar: 'full',
            monthformat: 'full',
            highligthtargetdate: true,
            prevnextbutton: 'show'
        });
    </script>
    <script src="{{ url_for('static', filename='dycalendar.js') }}"></script>
</body>
</html>
