<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Admin Dashboard</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
</head>

<body>
  <div class="main-cards">
    <div class="card">
      <div class="card-inner">
        <h3>SALARIO</h3>
        <span class="material-icons-outlined">account_balance_wallet</span>
      </div>
      <h1>{{ salario }}</h1>
    </div>
  
    <div class="card">
      <div class="card-inner">
        <h3>ENTRADAS</h3>
        <span class="material-icons-outlined">add</span>
      </div>
      <h1>{{ entradas }}</h1>
    </div>
  
    <div class="card">
      <div class="card-inner">
        <h3>SAÍDAS</h3>
        <span class="material-icons-outlined">remove</span>
      </div>
      <h1>{{ saidas }}</h1>
    </div>
  
    <div class="card">
      <div class="card-inner">
        <h3>Valor</h3>
        <span class="material-icons-outlined">notification_important</span>
      </div>
      <h1>{{ valor_total }}</h1>
    </div>
  </div>

      <div class="charts">

        <div class="charts-card">
          <h2 class="chart-title">Média Salárial</h2>
          <div id="bar-chart"></div>
        </div>

        <div class="charts-card">
          <h2 class="chart-title">Numero de entradas e saídas</h2>
          <div id="area-chart"></div>
        </div>

      </div>
    </main>
    <!-- End Main -->

  </div>

  <!-- Scripts -->
  <!-- ApexCharts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='dash.js') }}"></script>
</body>

</html>