<!DOCTYPE html>
<html lang="pt-br">
  <link rel="stylesheet" href="{{ url_for('static', filename='iniciar.css') }}">
    <head>
        <title>Projetos</title>
       
       
      </head>
        <h1>Iniciar um Projeto</h1>
        <input type="text" id="taskInput" placeholder="Digite uma nova tarefa...">
        <button onclick="addTask()">Adicionar Tarefa</button>
      
        <ul id="taskList"></ul>

        <script src="{{ url_for('static', filename='iniciar.js') }}"></script>
      </body>

      </html>