<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <title>Perfil do Usuário</title>
  <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="profile">

          <img id="user-photo" src="default-avatar.png" alt="Foto de perfil">
  <input type="file" id="photo-input" accept="image/*">
  <input type="text" id="user-name" placeholder="Nome">

  <input type="text" id="user-email" placeholder="Email">
  <input type="text" id="user-location" placeholder="Localização">
  <input type="tel" id="fone" name="fone" placeholder="Tel"required pattern="[0-9]{2} [0-9]{5}-[0-9]{4} " placeholder="11 99999-9999">
  <button onclick="saveProfile()">Salvar</button>
</div>
</html>