<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesolucoes.css') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <header id="faixa" class="header">
      <a href="{{ url_for('index') }}">
        <img class="logo" src="../static/logohome.png" />
      </a>
      <nav class="navbar">
        <ul class="menu">
          <li class="menu-item">
            <a href="{{ url_for('solucoes') }}">Nossas soluções</a>
          </li>
          <li class="menu-item">
            <a href="{{ url_for('sobre')}}">Sobre nós</a>
          </li>

          <a href="{{ url_for('cadastro') }}" class="action_btn">ACESSAR</a>
        </ul>
      </nav>
      <button class="drop-btn"></button>
    </header>
    <main class="main-content">
      <section class="our-solutions-section-banner">
        <div class="our-solutions-title-container">
          <h1 class="our-solutions-main-title">Nossas Soluções</h1>
          <p>Cofira nossas soluções e saiba mais sobre nossos serviços.</p>

        </div>
      </section>
      <section class="our-solutions-section-items">
        <div class="our-solutions-items-title-container">
          <h2 class="items-title">Simples, funcional e sem burocracias</h2>
          <p class="items-para">Confira abaixo nossas principais soluções que ajudarão você no controle de suas finanças:</p>
        </div>
        <div class="our-solutions-cards-container">
          <div class="our-solutions-cards">
            <i class="fa-solid fa-bell"></i>
            <h3 class="cards-title">Notificações instantâneas</h3>
            <p class="cards-title-para">Receba notificações sobre seus gastos e receitas.</p>
          </div>
          <div class="our-solutions-cards">
            <i class="fa-solid fa-chart-line"></i>
            <h3 class="cards-title">Geração de dashboards</h3>
            <p class="cards-title-para">Gere gráficos intuitivos com informações sobre seus proventos.</p>
          </div>
          <div class="our-solutions-cards">
            <i class="fa-solid fa-calendar"></i>
            <h3 class="cards-title">Calendário personalizado</h3>
            <p class="cards-title-para">
              Crie datas específicas sobre suas finanças.
            </p>
          </div>
          <div class="our-solutions-cards">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <h3 class="cards-title">Metas definidas</h3>
            <p class="cards-title-para">Defina metas e objetivos sobre seu futuro financeiro.</p>
          </div>
        </div>
      </section>
    </main>

    <script src="{{ url_for('static', filename='inicial.js') }}"></script>
  </body>
</html>
